
<div class="row">
<div class="col-lg-6">
<form>
    <div class="mb-3 mt-3">
      <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputMessage1" class="form-label">Mensaje</label>
      <textarea type="textarea" class="form-control" id="exampleInputMessage1"></textarea>
    </div>
    <button type="submit" class="btn btn-primary bg-success" disabled>Enviar</button>
</form>
</div>

    

</div>