
@font-face {
    font-family: "TrebuchetMS";
    src: url('/assets/fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}

.carousel-caption h1, p{
    color: black;
    font-family: "TrebuchetMS";
}